* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('fundo.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-attachment: fixed;
}

.titulo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.titulo img {
  width: 550px;
  filter: drop-shadow(0 12px 25px rgba(0, 0, 0, 0.4));
}


.texto {
  max-width: 900px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 300;

  margin: 60px auto 0 auto; 
  background: rgba(255, 255, 255, 0.75);

  padding: 16px 40px;      
  border-radius: 20px;
}



@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}